*{
    padding: 0;
    margin: 0;
}

html{
    height: 300vh;
    width: 100vh;
    display: flex;
    justify-content: center;
}

body{
    width: 100vh;
    height: 300vh;
}

/* 모든값 초기화 */


.container{
    position:absolute;

    width: 100%;
    height: 300%;
    border: 4px solid black;
    background-color: aquamarine;
    display: flex;
    
    justify-content: center; 
    flex-direction: column;
    /* 가로 축에서 가운데 */
   
    /* 세로 축에서 가운데 */
}



.container > .item{
    font-size: auto;
 
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: bisque;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .inner{
    display: flex;
    border: 4px solid black;
    justify-content: center;
    background-color: cadetblue;
    width: 100%;
    height: 100%;
    margin-right: 50px;
    margin-left: 50px;
}

#menu{
    width: auto;
    height: 70%;
    background-image: url(img/logo.jpg);
    background-size: cover;
    background-position: center;
    /* 배경이미지 불러와서 사이즈 자동맞춤 */
}

#menu > .inner{    
    
    align-self: flex-start;
    text-align: center;
    width: 100%;
    height: 60px;
    border: 1px solid black;
    display: flex;
    float: left;
    align-items: center;    
}

#menu .inner > li{
    
    width: 100%;
    height: 100%;
    border: 1px solid black;
    list-style: none;
    background-color:silver;
   
}

#menu a{
    text-decoration-line: none;
    color: black;
    display: flex;
    align-items: center;                
    justify-content: center;
    /* 메뉴글자 중앙정렬 */
    width: 100%;
    height: 100%;
}



